.social_Icons_wrapper {
    display: flex;
    align-items: center;
}
.social_Icons_wrapper a {
    display: inline-block;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.social_Icons_wrapper a:not(:last-child) {
    margin-right: 17px;
}
.social_Icons_wrapper a img {
    width: 100%;
}