.footer {
    background-color: #ffffff;
    border-top: 1px solid #202020;
    padding   : 16px 0;
}

.footer_content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}


@media (max-width: 575.98px) {
    .footer {
        padding: 12px 0;
    }

    .footer_logo .logo img {
        width: 50px;
    }

    .footer_content {
        align-items: flex-start;
    }

    .contact_info_wrapper ul {
        display: block;
    }

    .contact_info_wrapper li {
        justify-content: flex-start;
    }

    .contact_info_wrapper li:not(:last-child) {
        margin-bottom: 11px;
    }

    .contact_info_wrapper p {
        font-size: 12px;
    }

    .social_Icons_wrapper {
        flex-direction: column;
    }

    .social_Icons_wrapper a {
        margin-right: 24px !important;
        max-width   : 22px;
    }

    .social_Icons_wrapper a:not(:last-child) {
        margin-bottom: 7px;
    }

    .contact_info_wrapper img {
        max-width: 12px;
    }
}